.roles-main {
  min-height: 100vh;
  .roles-projects {
    display: flex;
    align-items: baseline;
    margin-bottom: 4rem;
    a {
      margin-right: 0.5rem;
    }
    .roles-content {
      display: flex;
      width: 100%;
      .company_info {
        width: 50%;
        .role-info {
          margin-left: 0.5rem;
        }
      }
      .company_bio {
        width: 50%;
      }
    }
  }
}