/* Navigation Styles */

.navigation {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .navigation-burger {
    background-color: royalblue;
  }
  .navigation-title {
    p {
      font-size: $font-size-lg;
      text-transform: uppercase;
    }
  }
}