/* Hero Banner */

.page-hero {
  .page-hero-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    margin: 4rem 0 2rem 0;
  }
  .dynamic {
    display: flex;
    a {
      color: #000;
      margin-right: 0.5rem;
    }
  }
}