/* Recent Styles */

.recent {
  min-height: 100vh;
  height: auto;
  padding: 4rem 0;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .recent-title {
    padding-bottom: 2rem;
  }
  .recent-content-one {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    .content-one {
      z-index: 1;
      a {
        h4 {
          margin-bottom: 0;
        }
      }
    }
    img {
      max-height: 267px;
      max-width: 550px;
      position: relative;
      right: 40px;
    }
  }
  .recent-content-two {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    .content-two {
      z-index: 1;
      a {
        h4 {
          margin-bottom: 0;
        }
      }
    }
    img {
      max-height: 528px;
      max-width: 568px;
      position: relative;
      right: 40px;
    }
  }
  .recent-content-three {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    .content-three {
      z-index: 1;
      a {
        h4 {
          margin-bottom: 0;
        }
      }
    }
    img {
      max-height: 267px;
      max-width: 550px;
      position: relative;
      right: -5px;
    }
  }
  a {
    color: #000;
  }
}