/* Sandbox Styles */

.roles {
  min-height: 100vh;
  height: auto;
  background-color: #303332;
  color: #fff;
  padding: 4rem 0;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .roles-title {
    padding-bottom: 2rem;
  }
  .roles-content {
    display: flex;
    margin-bottom: 2rem;
    .company_info {
      width: 50%;
      .role-info {
        margin-left: 0.5rem;
      }
    }
    .company_bio {
      width: 50%;
    }
  }
  a {
    color: #fff;
  }
}