/* Sandbox Styles */

.roles {
  min-height: 100vh;
  height: auto;
  background-color: #303332;
  color: #fff;
  padding: 4rem 0;
  .roles-title {
    padding-bottom: 2rem;
  }
  .roles-content {
    display: flex;
    .company_info {
      width: 50%;
    }
    .company_bio {
      width: 50%;
    }
  }
}