/* Sandbox Styles */

.sandbox {
  min-height: 100vh;
  height: auto;
  background-color: #000;
  padding: 4rem 0;
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
  .sandbox-title {
    color: #fff;
    padding-bottom: 2rem;
  }
  .sandbox-projects {
    color: #fff !important;
  }
  .sandbox-content {
    display: flex;
    align-items: baseline;
    h4 {
      margin-right: 0.25rem;
    }
    a {
      margin-right: 0.25rem;
      color: #fff;
    }
  }
}