/** Font Styles **/

/** Headings **/

@include media-breakpoint-up (xs) {

  %heading {
    margin-top: 0;
    font-weight: bold;
    color: #1d1d1d;
    text-transform: uppercase;
  }

  h1 {
    @extend %heading;
    font-family: 'Bodoni Moda', serif;
    font-size: $mob-font-size-h1;
    line-height: 1.25
  }

  h2 {
    @extend %heading;
    font-family: 'Bodoni Moda', serif;
    font-size: $mob-font-size-h2;
    margin-bottom: 1.25rem
  }

  h3 {
    @extend %heading;
    font-family: 'Bodoni Moda', serif;
    font-size: $mob-font-size-h3;
    margin-bottom: 1.25rem
  }

  h4 {
    @extend %heading;
    font-family: 'Bodoni Moda', serif;
    font-size: $mob-font-size-h4;
    margin-bottom: 1.25rem
  }

  h5 {
    @extend %heading;
    font-family: 'Bodoni Moda', sans-serif;
    font-size: $mob-font-size-h5;
    margin-bottom: 1.25rem
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: $mob-font-size-sm;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    color: #1d1d1d;
  }

  a {
    font-family: 'Poppins', sans-serif;
    font-size: $mob-font-size-sm;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    color: #1d1d1d;
  }

  a:hover {
    font-family: 'Poppins', sans-serif;
    font-size: $mob-font-size-sm;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    color: #f4ca75;
  }

  ul {
    font-family: 'Poppins', sans-serif;
    font-size: $mob-font-size-base;
    margin-left: 1.25rem;
    margin-bottom: 1rem;
    color: #1d1d1d;
  }

  li {
    font-family: 'Poppins', sans-serif;
    font-size: $mob-font-size-base;
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    color: #1d1d1d;
  }
}

@include media-breakpoint-up (md) {

  h1 {
    font-size: $tab-font-size-h1;
  }

  h2 {
    font-size: $tab-font-size-h2;
  }

  h3 {
    font-size: $tab-font-size-h3;
  }

  h4 {
    font-size: $tab-font-size-h4;
  }

  h5 {
    font-size: $tab-font-size-h5;
  }

  p {
    font-size: $tab-font-size-sm;
  }

  a {
    font-size: $tab-font-size-sm;
  }

  a:hover {
    font-size: $tab-font-size-sm;
  }

  ul {
    font-size: $tab-font-size-base;
  }

  li {
    font-size: $tab-font-size-base;
  }
}

@include media-breakpoint-up (lg) {

  h1 {
    font-size: $desk-font-size-h1;
  }

  h2 {
    font-size: $desk-font-size-h2;
  }

  h3 {
    font-size: $desk-font-size-h3;
  }

  h4 {
    font-size: $desk-font-size-h4;
  }

  h5 {
    font-size: $desk-font-size-h5;
  }

  p {
    font-size: $desk-font-size-sm;
  }

  a {
    font-size: $desk-font-size-sm;
  }

  a:hover {
    font-size: $desk-font-size-sm;
  }

  ul {
    font-size: $desk-font-size-base;
  }

  li {
    font-size: $desk-font-size-base;
  }
}