/** Variables **/

/** Font Sizes **/
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-md: $font-size-base * 1.125;
$font-size-lg: $font-size-base * 2.5;

$font-size-h1: $font-size-base * 24; //xx;
$font-size-h2: $font-size-base * 6; //xx;
$font-size-h3: $font-size-base * 4; //xx;
$font-size-h4: $font-size-base * 2; //xx;
$font-size-h5: $font-size-base * 1; //xx;
$font-size-h6: $font-size-base * 0.875; //xx;